go 1.19

use (
	./cloudfunctions/email_push_notifications
	./cloudfunctions/watch_emails
	./cloudfunctions/new_user_workflow
	./cloudfunctions/collect_examples
	./cloudfunctions/full_email_sync
	./libs/db
	./libs/gmail
)
