go 1.19

use (
	./cloudfunctions/email_push_notifications
	./cloudfunctions/watch_emails
	./cloudfunctions/full_email_sync
	./cloudfunctions/adhoc
	./cloudfunctions/populate_jobs
	./cloudfunctions/candidate_gmail_messages
	./cloudfunctions/recruiter_gmail_messages
	./libs/src
	./deploy/
)
