name: Auto Assign
on:
  # issues:
    # types: [opened, edited, labeled, unlabeled]
  pull_request_target:
    types: [opened]
    # types: [opened, edited, labeled, unlabeled]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/auto-assign@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # using the `org/team_slug` or `/team_slug` syntax to add git team as reviewers
          addReviewers: true
          addAssignees: true
          reviewers: |
            devstein
          assignees: author
          numberOfReviewers: 1
          skipKeywords: wip, draft
