name: CI

on:
  # run only on PRs because supabase start is slow
  pull_request: {}
  # allow manual triggers
  workflow_dispatch: {}

jobs:
  supabase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          # We should always be compatible with the latest Supabase CLI
          version: latest

      - name: "Install app dependencies"
        working-directory: ./app
        run: npm install

      - name: "Start Supabase local development setup"
        working-directory: ./app
        run: supabase start

      - name: "Verify generated types are up-to-date"
        working-directory: ./app
        run: |
          npm run gen-types
          if [ "$(git diff --ignore-space-at-eol types.ts | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff
            exit 1
          fi

  golang:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        directory: 
          - "./cloudfunctions/email_push_notifications" 
          - "./cloudfunctions/watch_emails" 
          - "./libs/db" 
          - "./libs/gmail" 

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build .
        working-directory: ${{ matrix.directory }}
        run: go install .

      - name: Test
        working-directory: ${{ matrix.directory }}
        run: go test .
